---
import Image from "./Image.astro";
---
<div class="seo-call-to-action">
        <Image 
            className="seo-call-to-action__picture"
            imageName="seo-physio-title"
            width="100vw"
            altText="Junge Frau mit Langhantel auf der Schulter in schwarz-weiß" class="seo-call-to-action__picture"></Image>
        <div class="seo-call-to-action__text animated right">
            <h2 class="top">
                Geht nicht
            </h2>
            <h2 class="middle">
                Gibt es nicht.
            </h2>
            <h2>
                Wir machen den Unterschied.
            </h2>
        </div>
</div>
<style lang="scss">
    .seo-call-to-action {
        position: relative;
    }
    .seo-call-to-action__picture {
        width: 100vw;
        min-height: 300px;
        max-height: 370px;
        display: block;
        border-radius: 0 0 80px 80px;
    }
    .seo-call-to-action__background-overlay {
        width: 100%;
        display: block;
        z-index: 1000;
        opacity: 40%;
        background-color: var(--primary-dark);
        position: absolute;
        inset: 0;
    }

    .seo-call-to-action__text {
        position: absolute;
        max-width: 80%;
        bottom: 25px;
        left: 25px;
        z-index: 1001;

        > h2 {
            font-size: 2rem;
            margin: 0;
            color: var(--white-100);
            animation: textRevealRight 1s ease 0s 1 normal forwards;
        }

        > .top { color: var(--primary-red); }

        > .middle { color: var(--secondary-red); }
    }

    .seo-call-to-action__button {
        font-size: .725rem;
        z-index: 1001;
    }

    @media (min-width: 520px) {
        .seo-call-to-action__text > h2 { font-size: 4rem; }
        .seo-call-to-action__picture { max-height: 400px; }
    }

    @media (min-width: 720px) {
        .seo-call-to-action__text > h2 { font-size: 5rem; }
        .seo-call-to-action__picture { max-height: 500px; }
    }

    @media (min-width: 1024px) {
        .seo-call-to-action__text > h2 { font-size: 6rem; }
        .seo-call-to-action__picture { max-height: 600px; }
    }

    @media (min-width: 1200px) {
        .seo-call-to-action__text > h2 { font-size: 8rem; }
        .seo-call-to-action__picture { max-height: 670px; }
    }

    @media (min-width: 1500px) {
        .seo-call-to-action__picture { max-height: 800px; }
        .seo-call-to-action__text > h2 { font-size: 9rem; }
    }
</style>