<nav class="seo-nav__container">
    <div class="seo-nav__logo__container">
        <img src="assets/logos/Seo_Logo.png" alt="seo physio logo">
        <a class="seo-nav__title" href="/">SEO Private Physiotherapie & Sport</a>
    </div>
</nav>
<style lang="scss">
    .seo-nav {
        &__container {
            box-shadow: 0px 5px 15px 15px rgba(0, 0, 0, 10%);
            background-color: var(--white-100);
            padding: 0 50px;
            z-index: 1000;
            height: 100px;
            display: flex;
            align-items: center;
        }

        &__title {
            font-size: 3.25rem;
            font-family: "Staatliches";
            text-decoration: none;
            color: var(--primary-dark);
        }

        &__logo__container {
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
</style>