<div class="seo-section seo-section--white">
    <div class="seo-section__content__container">
        <div class="seo-section__content left animated">
            <slot name="left"></slot>
        </div>
        <div class="seo-section__content right animated">
            <slot name="right"></slot>
        </div>
    </div>
    <div class="animated">
        <slot></slot>
    </div>
</div>
<style lang="scss">
    .seo-section {
        &--white {
            padding: 80px 50px;
        }

        &__content__container {
            display: flex;
            justify-content: space-between;
            gap: 5rem;
        }
    }

    @media (min-width: 1200px) {
        .seo-section {
            &--white {
                padding: 125px 100px;
            }
        }
	}
    @media (max-width: 1024px) {
        .seo-section {
            &__content__container {
                flex-direction: column;
            }
            
            &__content {
                width: 100%;
            }
        }
    }
	@media (max-width: 720px) {
        .seo-section {
            &--white {
                padding: 50px 25px;
            }
        }
	}
</style>