---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/poppins';
import '@fontsource/staatliches';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<script src="../scripts/intersectionObserver.js"></script>
	<body>
		<!-- <Header activePage='Index'></Header> -->
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global lang="scss">
	:root {
		--primary-red: #ff383e;
		--secondary-red: #ff5055;
		--primary-dark: #211A1D;
		--white-100: #FDFBF8;
	}
	html {
		font-family: 'poppins', sans-serif;
	}
	body {
		background-color: var(--white-100);
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}

	main {
		position: relative;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'staatliches', system-ui;
		font-weight: 400;
		text-transform: uppercase;
	}

	h1 { 
		font-size: 6rem;
		margin-top: 0;
	}

	h3 {
		font-size: 3rem;
	}

	h6 {
		font-size: 1rem;
		margin: 0;
	}
	
	.seo-copy, a, p, span, ul, li {
		font-size: 1.75rem;
		line-height: 2.75rem;
		&--white { color: var(--white-100); }

		&--dark { color: var(--primary-dark); }
	}

	.seo-headline {
		font-size: 6rem;
		&--red { color: var(--primary-red); }

		&--dark { color: var(--primary-dark); }

		&--inline { display: inline; }
	}

	.seo-button {
	
		&--primary {
			background-color: transparent;
			padding: 15px 25px;
			color: var(--primary-dark);
			outline: none;
			border: 1px solid var(--primary-dark);
			border-radius: 50px;
			cursor: pointer;
			font-size: 1.25rem;
			text-decoration: none;
			width: 100%;

			&:hover, &:focus {
				outline: 1px solid var(--primary-dark);
				color: var(--white-100);
				background-color: var(--primary-dark);
				transition: all 0.2s ease-in;
			}
		}

		&--secondary {
			background-color: transparent;
			padding: 9px 22px;
			color: var(--white-100);
			border: none;
			outline: 1px solid var(--white-100);
			border-radius: 0;
			cursor: pointer;
			font-size: 0.875rem;
			text-decoration: none;

			&:hover, &:focus {
				outline: 1px solid var(--primary-dark);
				transition: all 0.2s ease-in;
				background-color: var(--primary-dark);
				color: var(--white-100);
			}
		}
	}

	.animated {
		opacity: 0;
	}

	.fade-in-forward {
		animation: fade-in-fwd 1s ease 0s 1 normal forwards;
	}

	.fade-in-left {
		animation: fade-in-left 1s ease 0s 1 normal forwards;
	}

	.fade-in-right {
		animation: fade-in-right 1s ease 0s 1 normal forwards;
	}

	@media (max-width: 1200px) {
		h1, .seo-headline--red, .seo-headline--inline { font-size: 4rem; }
		.seo-copy, a, p, span, ul, li { 
			font-size: 1.5rem;
			line-height: 2.25rem;
		 }
	}

	@media (max-width: 1024px) {
		h1, .seo-headline--red, .seo-headline--inline { font-size: 2rem; }
		.seo-copy, a, p, span, ul, li { font-size: 1.25rem; }
	}

	@media (max-width: 720px) {
		h1, .seo-headline--red, .seo-headline--inline { font-size: 2.25rem; }
		.seo-copy, a, p, span, ul, li { 
			font-size: 1.25rem;
			line-height: 1.875rem;
		}

	}

	@keyframes fade-in-fwd {
		0% {
			-webkit-transform: translateZ(-80px);
					transform: translateZ(-80px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0);
					transform: translateZ(0);
			opacity: 1;
		}
	}

	
	@-webkit-keyframes fade-in-fwd {
		0% {
			-webkit-transform: translateZ(-80px);
					transform: translateZ(-80px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(0);
					transform: translateZ(0);
			opacity: 1;
		}
	}



	@-webkit-keyframes fade-in-left {
		0% {
			-webkit-transform: translateX(-50px);
					transform: translateX(-50px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0);
					transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes fade-in-right {
		0% {
			-webkit-transform: translateX(50px);
					transform: translateX(50px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateX(0);
					transform: translateX(0);
			opacity: 1;
		}
	}

</style>
