---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '@fontsource/sintony';
import '@fontsource/staatliches';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<script src="../scripts/intersectionObserver.js"></script>
	<body>
		<Header activePage='Index'></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global lang="scss">
	:root {
		--primary-red: #C92C4B;
		--primary-dark: #211A1D;
		--white-100: #FDFBF8;
	}
	html {
		font-family: 'sintony', sans-serif;
	}
	body {
		background-color: var(--white-100);
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}

	main {
		position: relative;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'staatliches', system-ui;
		font-weight: 400;
		text-transform: uppercase;
	}

	h1 {
		font-size: 2.25rem;
	}

	h6 {
		font-size: 1rem;
		margin: 0;
	}
	
	.seo-copy, a, p, span {
		font-size: 1rem;
		&--white {
			color: var(--white-100);
		}

		&--dark {
			color: var(--primary-dark);
		}
	}

	.seo-picture {
		max-width: 25vw;
		&--left-skew {
			clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
		}

		&--right-skew {
			clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
		}
	}

	.seo-button {
	
		&--primary {
			background-color: var(--primary-red);
			padding: 15px 25px;
			color: var(--white-100);
			outline: none;
			border: none;
			border-radius: 0;
			cursor: pointer;
			font-size: 0.875rem;
			text-decoration: none;

			&:hover, &:focus {
				outline: 1px solid var(--primary-red);
				background-color: transparent;
				transition: all 0.2s ease-in;
			}
		}

		&--secondary {
			background-color: transparent;
			padding: 9px 22px;
			color: var(--white-100);
			border: none;
			outline: 1px solid var(--white-100);
			border-radius: 0;
			cursor: pointer;
			font-size: 0.875rem;
			text-decoration: none;

			&:hover, &:focus {
				outline: 1px solid var(--primary-dark);
				transition: all 0.2s ease-in;
				background-color: var(--primary-dark);
				color: var(--white-100);
			}
		}
	}

	.animated {
		opacity: 0;
	}

	.fade-in-forward {
		animation: fade-in-fwd 1.2s ease 0s 1 normal forwards;
	}

	.fade-in-left {
		animation: fade-in-left 1.2s ease 0s 1 normal forwards;
	}

	.fade-in-right {
		animation: fade-in-right 1.2s ease 0s 1 normal forwards;
	}

	@media (max-width: 1200px) and (min-width: 721px) {
	}

	@media (max-width: 720px) {
		h1 {
			font-size: 2rem;
		}
	}

	@media (max-width: 620px) {
		h1 {
			font-size: 1.5rem;
		}
	}

	@keyframes fade-in-fwd {
	0% {
		-webkit-transform: translateZ(-80px);
				transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
				transform: translateZ(0);
		opacity: 1;
	}
	}


@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


</style>
